<div class=@ColSize >
    <div class="mb-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" 
                   @bind="IsChecked" />
            <label class="form-check-label" @onclick="ToggleCheckBox">@Title</label>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public string Value { get; set; } = "0";
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public string ColSize { get; set; } = "col-md-4";

    private bool IsChecked
    {
        get => Value == "1";
        set
        {
            var newValue = value ? "1" : "0";
            ValueChanged.InvokeAsync(newValue);
        }
    }

    private void ToggleCheckBox(){
        Console.WriteLine("Here");
        IsChecked = !IsChecked;
    }
}