@using System.Data
@using System.Data

@if (dataTable == null || dataTable.Rows.Count == 0)
{
    <div class="text-center text-muted">No data available</div>
}
else
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>

                    @if (NewColumnHeader != null){
                        @NewColumnHeader
                    }
                    @foreach (DataColumn col in dataTable.Columns)
                    {
                        <th>@col.ColumnName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in dataTable.Rows)
                {
                    <tr>
                        
                        @if (NewColumnValue != null){
                            @NewColumnValue
                        }
                        @foreach (DataColumn col in dataTable.Columns)
                        {
                            <td>@row[col]</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}



@code{
    [Parameter] public DataTable dataTable{get; set;}
    [Parameter] public RenderFragment? NewColumnHeader{get; set;}
    [Parameter] public RenderFragment? NewColumnValue{get; set;}
    [Parameter] public string PrimaryKey {get; set;}



}