<nav class="nvbar">
    <a class="nvbar-brand" href="/">VisionSoft</a>

    <form class="nvbar-search" role="search">
        <input type="search" placeholder="Search" aria-label="Search">
    </form>

    <ul class="nvbar-links">

        <!-- Masters -->
        <li class="nv-item">
            <button class="nv-link">Masters</button>
            <ul class="nv-dropdown-menu">
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/companymaster">Company Master</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/productmaster">Product Master</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/uqcmaster">UQC Master</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/hsnmaster">HSN Master</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/gstcategorymaster">GST Category Master</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/groupmaster">Group Master</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/ledgermaster">Ledger Master</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/referencemaster">Reference Master</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/routemaster">Route Master</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/areamaster">Area Master</a></li>
            </ul>
        </li>

        <!-- Transactions -->
        <li class="nv-item">
            <button class="nv-link">Transactions</button>
            <ul class="nv-dropdown-menu">
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/stockadjustment">Stock Adjustment</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/quotation">Quotation</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/salesbill">Sales Bill</a></li>
                <li><hr class="nv-dropdown-divider" /></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/salesreturn">Sales Return</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/purchasereturn">Purchase Return</a></li>
                <li><hr class="nv-dropdown-divider" /></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/payments">Payments</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/vouchers">Voucher</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/bankreconsilation">Bank Reconsilation</a></li>
            </ul>
        </li>

        <!-- Call Center -->
        <li class="nv-item">
            <button class="nv-link">Call Center</button>
            <ul class="nv-dropdown-menu">
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/servicemaster">Service Master</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/customerwarrantydetails">Customer Warranty Details</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/generatetoken">Generate Token</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/callclosemaster">Close Call</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/repairoutwardmaster">Repair Outward</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/repairyinward">Repair Inward</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/dashboard">Dashboard</a></li>
                <li class="nv-item nv-has-submenu">
                    <button class="nv-dropdown-button">
                        AMC Management 
                        <i class="bi bi-chevron-right nv-submenu-arrow"></i>
                    </button>
                    <ul class="nv-submenu">
                        <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/amcbillduelist">AMCBill Due List</a></li>
                        <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/amcbill">AMCBill</a></li>
                    </ul>
                </li>
                <li class="nv-item nv-has-submenu">
                    <button class="nv-dropdown-button">
                        Petrol Management 
                        <i class="bi bi-chevron-right nv-submenu-arrow"></i>
                    </button>
                    <ul class="nv-submenu">
                        <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/dailytravelmaster">DailyTravelMaster</a></li>
                        <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/dailytravelreport">DailyTravelReport</a></li>
                    </ul>
                </li>
                <li class="nv-item nv-has-submenu">
                    <button class="nv-dropdown-button">
                        Marketing 
                        <i class="bi bi-chevron-right nv-submenu-arrow"></i>
                    </button>
                    <ul class="nv-submenu">
                        <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/newenquiry">New Enquiry</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <!-- Pay Roll -->
        <li class="nv-item">
            <button class="nv-link">Pay Roll</button>
            <ul class="nv-dropdown-menu">
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/engineermaster">Employee Master</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/dailyattendance">Daily Attendance Master</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/salarysheet">Salary Sheet</a></li>
            </ul>
        </li>

        <!-- Asset Management -->
        <li class="nv-item">
            <button class="nv-link">Asset Management</button>
            <ul class="nv-dropdown-menu">
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/departmentmaster">Department Master</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/assettypemaster">Asset Type Master</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/assetmaster">Asset Master</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/assetinward">Asset Inward Master</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/assetoutward">Asset Outward Master</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/assetreport">Asset Report</a></li>
            </ul>
        </li>

        <!-- Second Hand -->
        <li class="nv-item">
            <button class="nv-link">Second Hand</button>
            <ul class="nv-dropdown-menu">
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/secondhandproductmaster">Second Hand Product Master</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/secondhandpurchasebill">Second Hand Purchase</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/secondhandsalesbill">Second Hand Sales</a></li>
            </ul>
        </li>

        <!-- Utilities -->
        <li class="nv-item">
            <button class="nv-link">Utilities</button>
            <ul class="nv-dropdown-menu">
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/backup">Back Up</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/dayend">Day End</a></li>
                <li class="nv-dropdown-item"><a class="nv-dropdown-link" href="/updatedatabase">Update Database</a></li>
            </ul>
        </li>

        <!-- Log Out -->
        <li class="nv-item logout">
            <a class="nv-link" href="/">Log Out</a>
        </li>

    </ul>
</nav>
