<div class=@ColSize >
    <div>
        <div class="form-check" style="padding-top: 35px;">

            <label @onclick="ToggleCheckBox">@Title</label>
            <input class="form-check-input" value=@Value type="checkbox" @onkeydown="HandleKeyboardInput" 
                  checked=@IsChecked
                  @onchange="HandleChange" />
            
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public string Value { get; set; } = "0";
    [Parameter] public string ColSize { get; set; } = "col-md-4";
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    
    private bool IsChecked = false;

    protected override void OnInitialized()
    {
        ChangeCheckBoxValue(Value);
    }
    
    protected override void OnParametersSet()
    {
        ChangeCheckBoxValue(Value);
    }

    private void HandleChange(ChangeEventArgs e){
        string newValue = e.Value.ToString() == "True"?"1":"0";
        ChangeCheckBoxValue(newValue);
        ValueChanged.InvokeAsync(newValue);
    }

    //ToggleCheckBox
    private void ToggleCheckBox(){
        Console.WriteLine("Here Again");
        string  newValue = Value == "0"?"1":"0";
        ChangeCheckBoxValue(newValue);
        ValueChanged.InvokeAsync(newValue);
    }

    private void HandleKeyboardInput(KeyboardEventArgs e){
        if(e.Key == "T" || e.Key == "t")ToggleCheckBox();
    }

    private void ChangeCheckBoxValue(string newValue){
        if(newValue == "1")IsChecked=true;
        else IsChecked =false;
    }

}