<div class=@ColSize >
    <div>
        <div class="form-check" style="padding-top: 35px;">

            <label class="form-check-label" @onclick="ToggleCheckBox">@Title</label>
            <input class="form-check-input" type="checkbox" @onkeydown="HandleKeyboardInput" 
                   @bind="IsChecked" />
            
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public string Value { get; set; } = "0";
    [Parameter] public string ColSize { get; set; } = "col-md-4";
    [Parameter] public EventCallback<string> ValueChanged { get; set; }


    //Getter Setter To bind string to checkbox
    private bool IsChecked
    {
        get => Value == "1";
        set
        {
            var newValue = value ? "1" : "0";
            ValueChanged.InvokeAsync(newValue);
        }
    }


    //ToggleCheckBox
    private void ToggleCheckBox(){
        Console.WriteLine("Here Again");
        IsChecked = !IsChecked;
    }

    private void HandleKeyboardInput(KeyboardEventArgs e){
        if(e.Key == "T" || e.Key == "t")ToggleCheckBox();
    }

}